<!-- 가입 메일인증 -->
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticketaka📝</title>
</head>
<body>
  <table align="center">
    <tr >
      <th >
        <h2 style="font-size: 30px; line-height: 36px;font-weight: 700; color: rgb(17 24 39); text-align: left;">Ticketaka</h2>
        <p style="font-size: 20px; line-height: 28px; font-weight: 600; color: rgb(17 24 39); text-align: left;">
            메일인증 안내입니다.
        </p>
      </th>
    </tr>
    <tr>
      <td>
        <p style="font-size: 14px; line-height: 20px; font-weight: 400; color: rgb(17 24 39); text-align: left;">
          안녕하세요 <span>{{ data['email'] }}</span>  님
        </p>
        <p style="font-size: 14px; line-height: 20px; font-weight: 400; color: rgb(17 24 39); text-align: left;">
          Tiketaka에 가입해 주셔서 진심으로 감사드립니다.
        </p>
        <p style="font-size: 14px; line-height: 20px; font-weight: 400; color: rgb(17 24 39); text-align: left;">
          아래 '메일 코드'를 입력하여 인증해주시기 바랍니다..
        </p>
        <p style="font-size: 14px; line-height: 20px; font-weight: 400; color: rgb(17 24 39); text-align: left;">
          감사합니다.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <a style="width: 100%; display: flex; justify-items: center; border-radius: 6px; border-color: transparent; background-color: #FEDB82; padding: 4px 2px; font-size: 14px; line-height: 20px; font-weight: 400; color: #ffffff; justify-content: center; text-decoration-line: none;">
          {{ data['authNum'] }}
        </a>
      </td>
    </tr>
    <tr>
      <td>
      <p style="font-size: 14px; line-height: 20px; font-weight: 400; color: rgb(17 24 39); text-align: center;">
        Copyright 2022 Tiketaka. All rights reserved.
      </p>
      </td>
    </tr>
  </table>
</body>
</html>